#app {
  display: grid;
  grid-template-columns: 35% 65%;
  overflow: hidden;
  gap: 1.25rem;
  margin-inline: auto;

  max-width: 80rem;
  height: 100vh;
  width: 100vw;

  background-color: var(--shape-background);
}

aside {
  height: 100vh;
  padding: 1.5rem 0 1.5rem 1.5rem;

  .aside-container {
    --rgb-base-color: 33, 37, 38;
    background:
      linear-gradient(180deg,
        rgba(var(--rgb-base-color), 0.8) 0%,
        rgba(var(--rgb-base-color), 0.65) 20%,
        rgba(var(--rgb-base-color), 0.3) 40.5%,
        rgba(var(--rgb-base-color), 0.1) 100%),
      url('../assets/Background.png') center bottom / cover;
  
    border-radius: .75rem;
    padding: 2rem;
    height: 100%;
  
    & img {
      height: 2.85rem;
    }
  
    & h1 {
      font: var(--text-logo);
      color: var(--accent-pink);
      margin-block: 1rem .25rem;
    }
  
    & span {
      font: 300 1rem var(--font-family-body);
      color: var(--text-heading-color);
    }
  }
}

main {
  padding: 1.5rem 1.5rem 1.5rem 0;
  overflow: auto;
  
  .main-container {
    background-color: var(--shape-body);
    border-radius: .75rem;

    padding-block: 5rem;

    &>h2 {
      font: var(--text-header);
      color: var(--text-heading-color);
    }

    &>form, &>h2 {
      max-width: 35rem;
      margin-inline: auto;
    }
  }
}