.btn-gradient-spin {
  all: unset;

  position: relative;
  border-radius: .5rem;
  overflow: hidden;

  background-color: var(--theme-bg-tertiary);
  
  & .gradient-spin {
    position: absolute;

    top: 50%;
    right: -5%;
    left: -5%;

    aspect-ratio: 1 / 1;

    transition: opacity 300ms ease-out;
    background: var(--theme-gradient-bg);
    border-radius: 50%;
    opacity: 0;
    transform: translateY(-50%);
  }

  &:hover {
    & .gradient-spin {
      opacity: 1;
      animation: spin 500ms linear infinite;
    }
  }

  &::before {
    content: '';
    position: absolute;
    border-radius: inherit;
    inset: 2px;
    background-color: var(--theme-bg-primary);
    z-index: 1;
  }

  & span {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 1rem;

    font: var(--text-label-md);
    color: white;
    position: relative;
    z-index: 2;
  }
}

@keyframes spin {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}