input.toggle {
  /* Toggle config bellow */
  --lc-anim-config: 300ms ease-out;
  
  --lc-toggle-width: 33vw;
  --lc-toggle-aspect-ratio: 3 / 2;
  --lc-toggle-circle-percent: .7;

  /* Toggle config above */

  --lc-toggle-height: calc(var(--lc-toggle-width) / (var(--lc-toggle-aspect-ratio)));
  --lc-circle-height: calc(var(--lc-toggle-height) * var(--lc-toggle-circle-percent));
  --lc-toggle-padding: calc(var(--lc-toggle-height) * ((1 - var(--lc-toggle-circle-percent)) / 2));

  all: unset;
  position: relative;

  width: var(--lc-toggle-width);
  height: var(--lc-toggle-height);

  border-radius: 9999px;
  background: var(--theme-content-tertiary);

  &::after {
    content: '';

    position: absolute;
    top: var(--lc-toggle-padding);
    left: var(--lc-toggle-padding);

    height: var(--lc-circle-height);
    aspect-ratio: 1 / 1;

    border-radius: 50%;
    background-color: var(--theme-content-primary);
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.06));

    transition: margin-left var(--lc-anim-config);
  }

  &::before {
    content: '';
    
    position: absolute;
    inset: 0;
    
    border-radius: inherit;
    background: var(--theme-gradient-bg);
    
    opacity: 0;
    transition: opacity var(--lc-anim-config);
  }

  &:checked::before {
    opacity: 1;
  }

  &:checked::after {
    margin-left: calc(var(--lc-toggle-width) - var(--lc-toggle-height));
  }
}
