.toggle-wrapper {
  align-items: center;
  gap: 8px;

  font: var(--text-sm);
  color: var(--theme-content-primary);
}

input.toggle {
  /* Toggle config bellow */
  --lc-anim-config: 500ms var(--anim-bezier-bounce);

  --lc-toggle-width: 30px;
  --lc-toggle-aspect-ratio: 3 / 2;
  --lc-toggle-circle-percent: .7;

  /* Toggle config above */

  --lc-toggle-height: calc(var(--lc-toggle-width) / (var(--lc-toggle-aspect-ratio)));
  --lc-circle-height: calc(var(--lc-toggle-height) * var(--lc-toggle-circle-percent));
  --lc-toggle-padding: calc(var(--lc-toggle-height) * ((1 - var(--lc-toggle-circle-percent)) / 2));

  all: unset;
  position: relative;

  width: var(--lc-toggle-width);
  height: var(--lc-toggle-height);

  border-radius: 9999px;
  background: var(--theme-content-tertiary);

  &::after {
    content: '';

    position: absolute;
    top: var(--lc-toggle-padding);
    left: var(--lc-toggle-padding);

    height: var(--lc-circle-height);
    aspect-ratio: 1 / 1;

    border-radius: 50%;
    background-color: var(--theme-content-primary);
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.06));

    transition: margin-left var(--lc-anim-config);
  }

  &::before {
    content: '';

    position: absolute;
    inset: 0;

    border-radius: inherit;
    background: var(--theme-gradient-bg);

    opacity: 0;
    transition: opacity var(--lc-anim-config);
  }

  &:checked::before {
    opacity: 1;
  }

  &:checked::after {
    margin-left: calc(var(--lc-toggle-width) - var(--lc-toggle-height));
  }
}

.ipt-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  & label {
    font: var(--text-label-md);
    color: var(--theme-content-secondary);
    text-transform: uppercase;
  }

  & .ipt-gradient-border {
    --lc--ipt-bg-color: var(--theme-bg-secondary);
    --lc-ipt-border-width: 0px;

    position: relative;

    background-image: none;
    border-radius: 8px;

    &>input {
      --lc-ipt-padding: 
        calc(4px - var(--lc-ipt-border-width)) 
        calc(8px - var(--lc-ipt-border-width));

      all: unset;
      box-sizing: border-box;
      background-color: var(--lc--ipt-bg-color);

      width: calc(100% - (var(--lc-ipt-border-width) * 2));

      padding: var(--lc-ipt-padding);
      margin: var(--lc-ipt-border-width);
      border-radius: inherit;

      font: var(--text-display-sm);
      color: var(--theme-content-primary);
      text-align: center;
    }
  }

  &:hover {
    & label {
      color: var(--theme-bg-brand);
    }

    & .ipt-gradient-border {
      --lc--ipt-bg-color: var(--theme-bg-tertiary);
      --lc-ipt-border-width: 1px;

      background-image: var(--theme-gradient-border);
    }
  }

  &:has(:focus) .ipt-gradient-border {
    --lc--ipt-bg-color: var(--theme-bg-tertiary);
    --lc-ipt-border-width: 2px;

    background-image: var(--theme-gradient-border);
  }
}
